<%- include("header") -%>
  <title>Feebdack</title>
  <div class="mgtop"></div>
  <link rel="stylesheet" href="css/feedback.css" />

  <div class="feedback" data-aos="zoom-in-down">
    <div class="box" id="heading">
      <h1>FEEDBACK</h1>
    </div>
      <iframe data-aos="zoom-in-down" src="https://forms.gle/4sgic9KuVKkoj5AM8" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

  <%- include("footer") -%>