<%- include("header") -%>
  <title>Avirbhav 2023</title>

  <!-- JKIAPT  -->
  <div class="jkintro">
    <div class="navSpace"></div>
    <div><img class="logo" src="images/jkiapt.png" style="opacity: 0.85;" data-aos="zoom-in"></div>
    <!-- <div class="jkiapt">JKIAPT</div> -->
    <div class="jkfull" data-aos="zoom-in">
      
    </div>
    
    <div class="mgtop"></div>
    <div class="jkabout" data-aos="zoom-in">
      
      <div class="mgtop"></div>
      <div class="samarkan">AVIRBHAV' 23</div>
      <div class="mgtop"></div>
      <div class="mgtop"></div>
      <div class="mgtop"></div>
    

    </div>
  </div>


  <!-- Avirbhav -->
  <div class="avirbhav" data-aos="fade-left">
    <div class="mgtop"></div>
    <!-- <img data-aos="fade-out" src="images/logo.png" alt="Avirbhav" /> -->
    <h1 data-aos="fade-left" class="md-4 pd-4"
      style="color: white; font-family:'Square Peg'; padding-bottom: 20px; margin-top: -10px; text-shadow: 2px 2px 6px gray; font-weight: 600;">
      AVIRBHAV</h1><br>
    <div class="aboutavirbhav" data-aos="fade-in">"Avirbhav" is an annual cultural festival organized by your college that celebrates the diverse talents and creative expressions of its students. From dance and music to theatre and literature, "Avirbhav" offers a platform for students to explore and express themselves in a variety of art forms. Along with the competitions, the festival also features Hackathons, games, and other fun activities, making it a memorable experience for all those who attend. With its vibrant atmosphere and enthusiastic participation, "Avirbhav" has become one of the most eagerly awaited events on our college's calendar, and an excellent opportunity for students to showcase their talents and connect with their peers.
      <br><br>
      
    </div>
    <div class="mgtop"></div>
  </div>


  <!-- Carousal -->
  
  <div id="testimonials" class="carousel carousel-dark slide pd-4" style="margin-top:0.5%;" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#testimonials" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#testimonials" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#testimonials" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#testimonials" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="images/AGNIASTRA.png" class="d-block w-100" alt="Aginastra"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/VAYUASTRA.png" class="d-block w-100" alt="Vayuastra"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/NANDIASTRA1.png" class="d-block w-100" alt="Nandiastra"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/jalastra.png" class="d-block w-100" alt="Jalastra"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonials" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonials" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Members Name  -->
  <div id="testimonials1" class="carousel carousel-dark slide" style="margin-top:0.5%;" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#testimonials1" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#testimonials1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#testimonials1" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#testimonials1" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="images/AgniastraTeam.jpg" class="d-block w-100" alt="AginastraTeam"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/VAYUASTRATEAM.png" class="d-block w-100" alt="VayuastraTeam"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/NandiastraTeam.jpg" class="d-block w-100" alt="NandiastraTeam"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/JalastraTeam.jpg" class="d-block w-100" alt="JalastraTeam"></img>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonials1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonials1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  <!-- Sponsors -->
  <div class="sponsor">
    <h1 class="mt-4">Our Sponsors</h1>
    <!-- <div class="slider mt-3">
      <div class="slide-track row">
        <div class="slide col-md-4 col-sm-12 mt-5">
          <a href=" " target="_blank"
            ><img src=" " width="200" alt=""
          /></a>
        </div>
        
      </div>
    </div> -->
    <div class="mgtop"></div>
    <h1>UPDATING SOON...</h1>
    <div class="mgtop"></div>
    <a href="/sponsor"><button type="button" style="margin-bottom: 30px;" class="btn-pink">
      Our Sponsors ❤️
    </button></a>
</div>
  



  <%- include("footer") -%>