<%- include("header") -%>


    <div class="container">
      <h1>ORGANIZERS</h1>
      
      <div class="gallery">
        
        <figure class="card">
          <img src="faces/AbhishekSir.png" alt="">
          <figcaption>Abhishek Shukla</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/AdarshSir.jpeg" alt="">
          <figcaption>Adarsh Saxena</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/AmanSir.png" alt="">
          <figcaption>Aman Singh</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/ArchitSir.png" alt="">
          <figcaption>Archit Yadav</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/DevanandSir.png" alt="">
          <figcaption>Devanand Yadav</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/HarekrishnaSir.png" alt="">
          <figcaption>Harekrishna Rai</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/HimanshuSir.png" alt="">
          <figcaption>Himanshu Vaidya</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/KaushalSir.png" alt="">
          <figcaption>Kaushal Kishore</figcaption>
        </figure>
        <figure class="card">
          <img src="faces/ManglamSir.png" alt="">
          <figcaption>Kumar Manglam</figcaption>
        </figure>
        <figure class="card">
            <img src="faces/NipunSir.png" alt="">
            <figcaption>Nipun Jain</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/PawanSir.png" alt="">
            <figcaption>Pawan Raj</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/PrajjwalSir.png" alt="">
            <figcaption>Prajjwal Shrivastava</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/PranavSir.png" alt="">
            <figcaption>Pranav Mishra</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/PratyushSir.png" alt="">
            <figcaption>Pratyush Mishra</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/PremSir.jpg" alt="">
            <figcaption>Prem Narayan</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/PrinceSir.png" alt="">
            <figcaption>Prince </figcaption>
          </figure>
          <figure class="card">
            <img src="faces/RaghuSir.png" alt="">
            <figcaption>Raghvendra Singh</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/SachinSir.png" alt="">
            <figcaption>Sachin Shakya</figcaption>
          </figure>
          <figure class="card">
            <img src="faces/StutiMam.png" alt="">
            <figcaption>Stuti Anand</figcaption>
          </figure>
      </div>
      <h1>DEVELOPERS</h1>
      <div   class="gallery">
        <figure  class="card">
            <img src="faces/AbhishekRanjan.jpg" alt="">
            <figcaption>Abhishek Ranjan</figcaption>
          </figure>
          <figure  class="card">
            <img src="faces/SudhanshuGupta.jpg" alt="">
            <figcaption>Sudhanshu Gupta</figcaption>
          </figure>
      </div>
    </div>

<%- include("footer") -%>